.container{
    margin-bottom: 100px;
}
.light_pink{
    background-color:#fceae8;
    border-radius: 10px;
    padding: 50px;
    
}
.buy-now{
    background-color: #ff136f;
    color: #ffffff;
    padding: 9px 14px;
    border-radius: 8px;
    border: none;
}
.price{
    color: #ff136f;
}


.watch{
    background-color: rgb(255, 136, 0);
}
.bag{
    background-color: rgb(240, 90, 240);
}
.shoe{
    background-color: rgb(40, 40, 241);
}
.watch , .shoe , .bag{
    padding: 10px 30px;
    
}
.category img{
    height: 100px;
}
.category h1{
    color: cornsilk;
}
